keycloak:
  external-port: 80
  external-base-url: http://<placeholder>:${keycloak.external-port}
  internal-port: 80
  internal-base-url: http://<placeholder>:${keycloak.internal-port}

app:
  external-port: 80
  external-base-url: http://<placeholder>:${app.external-port}

db:
  internal-port: 80
  internal-base-url: jdbc:mysql://<placeholder>:${db.internal-port}

spring:
  datasource:
    url: ${db.internal-base-url}/${db.schema-name}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
  security:
    oauth2:
      client:
        provider:
          urlshortener-keycloak-provider:
            # Skip issuer-uri to avoid Keycloak's automatic discovery
            # For browser redirects, use the external URL
            authorization-uri: ${keycloak.external-base-url}/realms/${keycloak.realm}/protocol/openid-connect/auth
            # For service-to-service, use the internal URL
            token-uri: ${keycloak.internal-base-url}/realms/${keycloak.realm}/protocol/openid-connect/token
            jwk-set-uri: ${keycloak.internal-base-url}/realms/${keycloak.realm}/protocol/openid-connect/certs
            user-info-uri: ${keycloak.internal-base-url}/realms/${keycloak.realm}/protocol/openid-connect/userinfo
            user-name-attribute: preferred_username
