namespace-name: urlshortener-dev

keycloak:
  service-name: urlshortener-keycloak-service
  external-port: 30009
  external-base-url: http://localhost:${keycloak.external-port}
  internal-port: 8080
  internal-base-url: http://${keycloak.service-name}.${namespace-name}:${keycloak.internal-port}

app:
  service-name: urlshortener-app-service
  external-port: 30008
  external-base-url: http://localhost:${app.external-port}

db:
  service-name: urlshortener-db-service
  internal-port: 3306
  internal-base-url: jdbc:mysql://${db.service-name}.${namespace-name}:${db.internal-port}

spring:
  datasource:
    url: ${db.internal-base-url}/${db.schema-name}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
  security:
    oauth2:
      client:
        provider:
          urlshortener-keycloak-provider:
            # Skip issuer-uri to avoid Keycloak's automatic discovery
            # For browser redirects, use the external URL
            authorization-uri: ${keycloak.external-base-url}/realms/${keycloak.realm}/protocol/openid-connect/auth
            # For service-to-service, use the internal URL
            token-uri: ${keycloak.internal-base-url}/realms/${keycloak.realm}/protocol/openid-connect/token
            jwk-set-uri: ${keycloak.internal-base-url}/realms/${keycloak.realm}/protocol/openid-connect/certs
            user-info-uri: ${keycloak.internal-base-url}/realms/${keycloak.realm}/protocol/openid-connect/userinfo
            user-name-attribute: preferred_username
