keycloak:
  realm: urlshortener-keycloak-realm
  clientId: urlshortener-keycloak-client
  clientSecret: qQUimZxrmnop3ug6UqctmCKgkqPVIhV9
  admin-username: admin
  admin-password: admin

db:
  schema-name: urlshortener

spring:
  application:
    name: urlshortener
  datasource:
    username: urlshortener-user
    password: password
  jpa:
    database: mysql
    properties:
      #   application logs tell that setting this property explicite is deprecated   
      #      hibernate:
      #        dialect: org.hibernate.dialect.MySQLDialect
      show_sql: true
      format_sql: true
    hibernate:
      ddl-auto: validate
    #   https://stackoverflow.com/questions/30549489/what-is-this-spring-jpa-open-in-view-true-property-in-spring-boot   
    open-in-view: false
  liquibase:
    change-log: db/changelog/00_changelog-master.xml
    user: urlshortener-admin
    password: password
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: urlshortener-keycloak-provider
            authorization-grant-type: authorization_code
            client-id: ${keycloak.clientId}
            client-secret: ${keycloak.clientSecret}
            scope: openid
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

management:
  endpoint:
    health:
      show-details: always
      # disable default DataSourceHealthIndicator and use custom CustomDataSourceHealthIndicator implementation
      enabled: false

#logging:
#  level:
#    package.name: INFO
