<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>navigation bar</title>
</head>
<body>
<nav th:fragment="navigation">
  <div class="container text-center">
    <div th:if="${!userDataDTO.authenticated}">
      <a href="/oauth2/authorization/keycloak">
        <button type="button"
                class="btn btn-lg btn-primary btn-block">Login
        </button>
      </a>
    </div>
    <div th:if="${userDataDTO.authenticated}">
      <p>Hi <span th:text="${userDataDTO.preferredUsername}"></span>!</p>
      <a href="/logout">
        <button type="button" class="btn btn-lg btn-primary">Logout</button>
      </a>
    </div>
  </div>
</nav>
</body>
</html>
