<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>navigation bar</title>
</head>
<body>
<nav th:fragment="navigation">
  <div class="container text-center">
    <div th:if="${!userDataDTO.authenticated}">
      <a href="/oauth2/authorization/keycloak">
        <button type="button"
                class="btn btn-lg btn-primary btn-block">login
        </button>
      </a>
    </div>
    <div th:if="${userDataDTO.authenticated}">
      <div>
        <p>Logged in as: '<span th:text="${userDataDTO.preferredUsername}"/>'.</p>
      </div>
      <div>
        <a href="/logout">
          <button type="button" class="btn btn-lg btn-primary">logout</button>
        </a>
      </div>
      <div th:if="${viewName == 'main-page'}">
        <a href="/v1/account/info">
          <button type="button" class="btn btn-lg btn-primary">account info</button>
        </a>
      </div>
      <div th:if="${viewName == 'account-info'}">
        <a href="/v1">
          <button type="button" class="btn btn-lg btn-primary">main page</button>
        </a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>
