<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/head-metadata :: meta}"></div>
  <div th:replace="~{fragments/head-metadata :: bootstrap-link}"></div>
  <title>main page</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container text-center">
  <div class="row">
    <h3>Account info</h3>
  </div>
  <div class="row">
    <table>
      <tbody>
      <tr>
        <td>username:</td>
        <td th:text="${userAccountDTO.username}"></td>
      </tr>
      <tr>
        <td>email:</td>
        <td th:text="${userAccountDTO.email}"></td>
      </tr>
      <tr>
        <td>number of links:</td>
        <td th:text="${userAccountDTO.numberOfLinks}"></td>
      </tr>
      <tr>
        <td>account created at:</td>
        <td th:text="${userAccountDTO.createdAt}"></td>
      </tr>
      <tr>
        <td colspan="2">
        <form th:action="@{/v1/account/delete}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-lg btn-danger"
                    onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">
              delete account
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div th:replace="~{fragments/bootstrap-script :: bootstrap-script}"></div>
</body>
</html>
