<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>url shortener main page</title>
</head>
<body>

<h1>Welcome to the url shortener!</h1>
<form action="#" th:action="@{/v1/}" th:object="${requestUrlDTO}" method="POST">
    <fieldset>
        <input type="text" th:field="*{url}" placeholder="paste your url here">
        <input type="submit" name="Shorten!">
    </fieldset>
</form>

<div th:if="${responseUrlDTO}">
    <p>your link is:
<!--        todo how to do this link clickable?-->
        <a th:href="${responseUrlDTO.url}"
           th:text="${responseUrlDTO.url}">
        </a>
    </p>
</div>

</body>
</html>
