<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/head-metadata :: meta}"></div>
  <div th:replace="~{fragments/head-metadata :: bootstrap-link}"></div>
  <title>main page</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container text-center">
  <div class="row">
    <h3>Welcome to the url shortener!</h3>
  </div>
  <div class="row">
    <form th:action="@{/v1/url/create}" th:object="${requestUrlDTO}" method="POST">
      <fieldset>
        <input type="text" th:field="*{url}" placeholder="paste your url here">
        <input type="submit" name="Shorten!">
      </fieldset>
    </form>
  </div>
  <div class="row">
    <div th:if="${responseUrlDTO}">
      <p>your link is:
        <a th:href="${responseUrlDTO.shortUrl}"
           th:text="${responseUrlDTO.shortUrl}">
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div th:if="${userUrlsPagesDTO}">
      <table border="1">
        <thead>
        <tr>
          <th>#</th>
          <th>shorten</th>
          <th>original</th>
          <th>created at</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userUrlsPagesDTO.empty}">
          <td colspan="5">No links available</td>
        </tr>
        <tr th:if="${!userUrlsPagesDTO.empty}" th:each="url, iStat: ${userUrlsPagesDTO.content}">
          <td>
            <span th:text="${iStat.index + 1 + '.'}"/>
          </td>
          <td>
            <a th:href="${url.shortUrl}" th:text="${url.shortUrl}"></a>
          </td>
          <td>
            <a th:href="${url.originalUrl}" th:text="${url.originalUrl}"></a>
          </td>
          <td>
            <span th:text="${url.createdAt}"/>
          </td>
          <td>
            <form th:action="@{/v1/url/delete}" method="post">
              <input type="hidden" name="hash" th:value="${url.hash}"/>
              <input type="submit" value="delete" class="btn btn-danger"/>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      <div th:if="${userUrlsPagesDTO.totalPages > 0}" class="pagination"
           th:each="pNum : ${pageNumbers}">
        <a th:href="@{/v1(pageNumber=${pNum}, pageSize=${userUrlsPagesDTO.size})}"
           th:text="${pNum + 1}"
           th:class="${pNum == userUrlsPagesDTO.number} ? active"></a>
        <!-- todo the above class="active" does not work, fix it -->
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/bootstrap-script :: bootstrap-script}"></div>
</body>
</html>
