<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/head-metadata :: meta}"></div>
  <div th:replace="~{fragments/head-metadata :: bootstrap-link}"></div>
  <title>main page</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div th:class="container text-center">
  <div th:class="row">
    <h3>Welcome to the url shortener!</h3>
  </div>
  <div th:class="row">
    <form th:action="@{/v1/}" th:object="${requestUrlDTO}" th:method="POST">
      <fieldset>
        <input th:type="text" th:field="*{url}" th:placeholder="paste your url here">
        <input th:type="submit" th:name="Shorten!">
      </fieldset>
    </form>
  </div>
  <div th:class="row">
    <div th:if="${responseUrlDTO}">
      <p>your link is:
        <!--        todo how to do this link clickable?-->
        <a th:href="${responseUrlDTO.url}"
           th:text="${responseUrlDTO.url}">
        </a>
      </p>
    </div>
  </div>
</div>
<div th:replace="~{fragments/bootstrap-script :: bootstrap-script}"></div>
</body>
</html>
