<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/head-metadata :: meta}"></div>
  <div th:replace="~{fragments/head-metadata :: bootstrap-link}"></div>
  <title>register user</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div th:class="container text-center">
  <div th:class="row">
    <h3>Register user</h3>
  </div>
  <div th:class="row">
    <form th:action="@{/v1/register}" th:object="${userDTO}" th:method="POST">
      <fieldset>
        <input th:type="text" th:field="*{username}" th:placeholder="username">
        <input th:type="email" th:field="*{email}" th:placeholder="email">
        <input th:type="password" th:field="*{password}" th:placeholder="password">
        <input th:type="submit" th:name="Register">
      </fieldset>
    </form>
  </div>
</div>
<div th:replace="~{fragments/bootstrap-script :: bootstrap-script}"></div>
</body>
</html>
